body {
  background: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  filter: blur(1px) saturate(5);
}

.intro-container {
  width: 500px;
  height: 500px;
  margin: 1em;
}

.intro-lines-container-vertical {
  position: absolute;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

.intro-lines-container-horizontal {
  position: absolute;
  rotate: 90deg;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

.line {
  top: 214px;
  width: 5px;
  background-color: rgb(255, 255, 255);
  height: 500px;
}

#intro-line1, #intro-line2, #intro-line3, #intro-line4 {
  opacity: 0;
}

.container {
  width: 900px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  perspective: 700px;
  display: none;
}

.player-container {
  perspective: 700px;
  position: absolute;
  top:100px;
  width: 700px;
  height: 400px;
  /* background: lightblue; */
  z-index:100;
  pointer-events: none; 
}

.grid {
  /* display:none !important; */
  width: 500px;
  height: 500px;
  background-color: #5b746c;
  transform: rotateX(55deg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  animation: rotateShift 1.5s ease-in-out;
  position: relative;
}

.grid div {
  background-color: rgb(0, 0, 0);
}

:root {
  --cubesize: 68px;
}

.cube {
  position: absolute;
  width: var(--cubesize);
  height:  var(--cubesize);
  transform-style: preserve-3d;
  transform: rotateX(-38deg) rotateY(0deg);
}

.cube0 {
  top:10px;
  left:180px;
  transform-style: preserve-3d;
  transform: rotateX(-36deg) rotateY(0deg);
  scale: 0.8;
  display: none;
}

.cube1 {
  top:10px;
  right:315px;
  transform-style: preserve-3d;
  transform: rotateX(-36deg) rotateY(0deg);
  scale: 0.8;
  display: none;
}

.cube2 {
  top:10px;
  right:180px;
  transform-style: preserve-3d;
  transform: rotateX(-36deg) rotateY(0deg);
  scale: 0.8;
  display: none;
}

.cube3 {
  top:90px;
  left:150px;
  transform-style: preserve-3d;
  transform: rotateX(-36deg) rotateY(0deg);
  display: none;
}

.cube4 {
  top:90px;
  left:316px;
  transform-style: preserve-3d;
  transform: rotateX(-38deg) rotateY(0deg);
  display: none;
}


.cube5 {
  top:90px;
  right:150px;
  transform-style: preserve-3d;
  transform: rotateX(-38deg) rotateY(0deg);
  display: none;
}



.cube6 {
  bottom:130px;
  left:110px;
  transform-style: preserve-3d;
  transform: rotateX(-34deg) rotateY(0deg);
  scale: 1.3;
  display: none;
}

.cube7 {
  bottom:130px;
  left:315px;
  transform-style: preserve-3d;
  transform: rotateX(-34deg) rotateY(0deg);
  scale: 1.3;
  display: none;
}

.cube8 {
  bottom:130px;
  right:114px;
  transform-style: preserve-3d;
  transform: rotateX(-34deg) rotateY(0deg);
  scale: 1.3;
  display: none;
}



/* Faces */
.face {
  position: absolute;
  border: 1px solid red;
  width:  var(--cubesize);
  height:  var(--cubesize);
  line-height:  var(--cubesize);
  text-align: center;
  font-size: 1.25rem;
  background-color: black;
}

.c-eyes {
  position: absolute;
  left:10px;
  top:10px;
  width: 8px; 
  height: 8px; 
  border-top: 0px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 20px solid red;
}

.c-eyes:after {
  position: absolute;
  left:0px;
  content: '';
  width: 8px; 
  height: 8px; 
  border-top: 0px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 20px solid red;
}

.c-mouth {
  width:50px;
  height:4px;
  background: red;
}

.front {
  transform: translateZ(34px);
}

.c-face-top {
  border-bottom: 2px solid red;
  width:100%;
  height:50%;
}

.c-face-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:50%;
}

.back {
  transform: rotateY(180deg) translateZ(34px);
}

.top {
  transform: rotateX(90deg) translateZ(34px);
}

.right {
  transform: rotateY(90deg) translateZ(34px);
}

.left {
  transform: rotateY(-90deg) translateZ(34px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(34px);
}

.cross {
  position: absolute;
  right:0;
  bottom:16%;
  width: 100%;
  min-height: 100%;
  height: 32px;
  border: 0px solid red
}

.cross:before, .cross:after {
  position: absolute;
  content: '';
  height: 130%;
  width: 2px;
  background-color: red;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

.zeroid {
  position: absolute;
  border: 2px solid #3E89FB;
  border-radius: 50%;
  background: black;
  width: 55px;
  height: 55px;
  z-index: 10;
}

.z-visor {
  position:absolute;
  width:52px;
  fill: none;
  stroke: #3E89FB;
  stroke-width: 7;
  top:25px;
  z-index:10;
}

.z-eyes {
  position: absolute;
  border-radius: 50%;
  background: white;
  width: 10px;
  height: 10px;
  z-index:1;
  top:28px;
}

.z-eyes:before  {
  content: "";
  position: absolute;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left:16px;
  z-index:1;
}

.z-mouth {
  content: "";
  position: absolute;
  top:45px;
  left:13px;
  width: 24px;
  height: 0px; 
  border-bottom-left-radius: 100px; 
  border-bottom-right-radius: 100px; 
  border: 3px solid #3E89FB;
  border-top: 0;
}

.zeroid0 {
  top: 20px;
  left: 180px;
  display: none;
}

.zeroid0 .z-visor {
  top:25px;
  right:5px;
}

.zeroid0 .z-eyes {
  border-radius: 50%;
  left:10px;
}

.zeroid0 .z-mouth {
  left: 9px;
}

.zeroid1 {
  top: 20px;
  left: 322px;
  display: none;
}

.zeroid1 .z-visor {
  right:2px;
}

.zeroid1 .z-eyes {
  left:15px;
}

.zeroid1 .z-mouth {
  left: 12px;
}

.zeroid2 {
  top: 20px;
  right:178px;
  display: none;
}

.zeroid2 .z-visor {
  left:5px;
}

.zeroid2 .z-eyes {
  border-radius: 50%;
  right:26px;
}

.zeroid2 .z-mouth {
  left: 16px;
}

/* Zeroid 4 */
.zeroid3 {
  width: 66px;
  height: 66px;
  top: 90px;
  left:152px;
  display: none;
}

.zeroid3 .z-visor {
  top:30px;
  right:6px;
  width:65px;
}

.zeroid3 .z-eyes {
  top:35px;
  left:12px;
  width:12px;
  height:12px;
}

.zeroid3 .z-eyes:before {
  width:12px;
  height:12px;
  left:19px;
}

.zeroid3 .z-mouth {
  left: 10px;
  width:30px;
  top:55px;
}

/* Zeroid 5 */
.zeroid4 {
  width: 66px;
  height: 66px;
  top: 90px;
  left:315px;
  display: none;
}

.zeroid4 .z-visor {
  top:30px;
  width:65px;
}

.zeroid4 .z-eyes {
  top:35px;
  left:20px;
  width:12px;
  height:12px;
}

.zeroid4 .z-eyes:before {
  width:12px;
  height:12px;
}

.zeroid4 .z-mouth {
  left: 16px;
  width:30px;
  top:55px;
}


/* Zeroid 6 */
.zeroid5 {
  width: 66px;
  height: 66px;
  top: 90px;
  right:152px;
  display:none;
}

.zeroid5 .z-visor {
  top:30px;
  left:6px;
  width:65px;
}

.zeroid5 .z-eyes {
  top:35px;
  left:24px;
  width:12px;
  height:12px;
}

.zeroid5 .z-eyes:before {
  width:12px;
  height:12px;
  left:19px;
}

.zeroid5 .z-mouth {
  left: 20px;
  width:30px;
  top:55px;
}

/* zeroid 7 */
.zeroid6 {
  width: 92px;
  height: 92px;
  top: 190px;
  left:104px;
  display: none;
}

.zeroid6 .z-visor {
  top:45px;
  right:14px;
  width:84px;
}

.zeroid6 .z-eyes {
  top:50px;
  left:14px;
  width: 18px;
  height: 18px;
}

.zeroid6 .z-eyes:before {
  left:26px;
  width: 18px;
  height: 18px;
}

.zeroid6 .z-mouth {
  left: 12px;
  width:50px;
  height:1px;
  top:78px;
}

/* zeroid 8 */
.zeroid7 {
  width: 92px;
  height: 92px;
  top: 190px;
  left:304px;
  display: none;
}

.zeroid7 .z-visor {
  top:45px;
  left:4px;
  width:84px;
}

.zeroid7 .z-eyes {
  top:50px;
  left:24px;
  width: 18px;
  height: 18px;
}

.zeroid7 .z-eyes:before {
  left:26px;
  width: 18px;
  height: 18px;
}

.zeroid7 .z-mouth {
  left: 18px;
  width:50px;
  height:1px;
  top:78px;
}

/* zeroid 9 */
.zeroid8 {
  width: 92px;
  height: 92px;
  top: 190px;
  right:106px;
  display: none;
}

.zeroid8 .z-visor {
  top:45px;
  left:14px;
  width:84px;
}

.zeroid8 .z-eyes {
  top:50px;
  left:33px;
  width: 18px;
  height: 18px;
}

.zeroid8 .z-eyes:before {
  left:26px;
  width: 18px;
  height: 18px;
}

.zeroid8 .z-mouth {
  left: 25px;
  width:50px;
  height:1px;
  top:78px;
}

/* .zeroid2 .z-face:before  {
  content: "";
  position: absolute;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left:16px;
  z-index:1;
} */

/* .zeroid2 span:after  {
  content: "";
  position: absolute;
  top:17px;
  width: 20px;
  height: 0px; 
  border-bottom-left-radius: 100px; 
  border-bottom-right-radius: 100px; 
  border: 3px solid #3E89FB;
  border-top: 0;
} */

/*-- frown --*/
/* .zeroid span:after  {
  content: "";
  position: absolute;
  top:16px;
  width: 20px;
  height: 1px;
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px;
  border: 3px solid #3E89FB;
  border-bottom: 0;
} */

/* .zeroid span:before {
  position: absolute;
  background: black;
  top: -14px;
  right: -3px;
  content: "";
  width: 50px;
  height: 14px;
  border: 3px solid blue;
  border-top: 3px solid black;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.zeroid span:after {
  position: absolute;
  background: rgb(0, 0, 0);
  top: -21px;
  right: -3px;
  content: "";
  width: 56px;
  height: 18px;
} */



@keyframes rotateShift {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(55deg);
  }
}

.hover {
  background: rgb(14, 13, 17) !important;
}
